label ,a
{
	font-size: 16px;
	padding-top: 10px;
	padding-left: 7px;
}

.col-sm-12
{
	margin-top: 55px;
}


.pickup
{
	width: 40%;
	border: 1px solid #989595;
}

.wrap h2
{
	font-size: 23px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px;
}

.form-table th
{
	vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 238px;
    line-height: 1.3;
    font-weight: 600;
}